<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST"> <!-- HTML FORMS CREATION-->
            {% csrf_token %}
            <label for="us">username</label>
            <input type="text" name="us" id="us"> <br>
            <label for="ps">password</label>
            <input type="password" name="ps" id="ps"> <br>
            <input type="submit">               
        </form>
    </center>
</body>
</html>